<footer class="footer">Copy Right Reserverd.</footer>
</body>
<script>
const navbar = document.querySelector('.navbar');
const hamburger = document.querySelector('.hamburger');
const menu = navbar.querySelector('.menu');


</script>
</html>